Checks: >
  -*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-simplify-boolean-expr,
  -readability-braces-around-statements

WarningsAsErrors: ''
HeaderFilterRegex: '^/home/andreas/code/git/Forradia/Desktop/code/'  # Only show warnings from files in the code/ directory
AnalyzeTemporaryDtors: false
